<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
          <img src="{{ site.baseurl }}/img/logo.png" width="200px" alt="Birdies Cafe Logo"></li>
      </div>

      <div class="footer-col  footer-col-2">
        <h2>Contact</h2>
        <ul class="contact-list">
          <li>Email: <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li>Restaurant phone: <a href="tel:541-728-0753">541-728-0753</a></li>
          {% if site.twitter_username %}
          <li>Twitter: <a href="https://twitter.com/{{ site.twitter_username }}"><span class="username">{{ site.twitter_username }}</span>
            </a>
          </li>
          {% endif %}
          {% if site.facebook_username %}
          <li>Facebook: <a href="https://facebook.com/{{ site.facebook_username }}"><span class="username">@{{ site.facebook_username }}</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
